body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dirTabs {
	padding-top: 0px;
	padding-bottom: 20px;
}

ul.nav li {
	white-space: nowrap;
	font-size: 24px;
}
ul.nav a {
	font-size: 24px;
}